<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!--partial Message-->
    
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      
      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <% include ../partials/messages %>
          <div id="enter" style="display: none">
          <!-- <div class="alert alert-danger alert-dismissible fade show"  role="alert">
            Email-must be entered
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          </div>
          <div id="sent"style="display: none">
          <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
            Application sent..
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          </div>
          <div id="approve"style="display: none">
          <!-- <div class="alert alert-success alert-dismissible fade show"  role="alert">
            Application approved..
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          </div>
          <div id="reject"style="display: none">
          <!-- <div class="alert alert-danger alert-dismissible fade show"  role="alert">
            Application Rejected..
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          </div>
          <!--First Div-->
          <div class="card shadow" id="1">
            <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/dashboard">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Send To :</h3>
                  
                </div>
                <div class="navbar-search navbar-search-dark form-inline mr-3  d-md-flex ml-lg-auto ">
                  <div class="form-group mb-0">
                    <div class="input-group input-group-alternative bg-gradient-primary">
                      <input class="form-control " placeholder="Receiver Email-id" required type="email" name="email">
                    </div>
                  </div>
                  
                </div>
                <div class="col text-right">
                  
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  
                </thead>
                <tbody>
                  <tr>
                    <div class="container">
                    <div class="row">
                        <div class="col-md-6">                         
                              <label for="Description" >Description:</label> 
                              <textarea rows="5" cols="61" name="Description" type="text"
                                                  id="Description" required></textarea>     
                                                  <hr class="my-3">
                                                  <input id="fileupload" name="myfile" type="file" />
                                                  <hr class="my-3">
                                 <input type="submit"class="btn btn-secondary" value="Send" id="submit" />
                                 <hr>
                       
                        </div>
                    </div>
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
            </form>
          </div>

          <!--Second Div -->
          <div class="card shadow" id="2">
            <div class="card-header border-0">
              <div class="row align-items-center " >
                  Created Applications
              </div>
            </div>
            <% if(files.created_total.length!=0){ %>
              <%  var l=0 %>
              
              <% for(l=files.created_total.length-1;l>=0;l--){%>
                <form>
                <div id="<%=files.created_total[l]%>_cancel" style="display: none">
                  <div class="navbar-search navbar-search-dark form-inline mr-3  d-md-flex ml-lg-auto ">
                    <div class="form-group mb-0">
                      <div class="input-group input-group-alternative bg-gradient-primary">
                        <input class="form-control" placeholder="Receiver Email-id" type="email" name="email" id = "<%=files.created_total[l]%>_email" value="" required>
                      </div>
                    </div>
                    <div class="col text-right">
                      <div  class="btn btn-sm btn-primary mb-3" id = "<%=files.created_total[l]%>_send" value="<%=files.created_total[l]%>" onclick=" return send(this.id)">Send</div>
                      
                      <div  class="btn btn-sm btn-primary mb-3" id = "<%=files.created_total[l]%>_cance" value="<%=files.created_total[l]%>" onclick="cancel(this.id)">Cancel</div>
                    </div>                   
                  </div>
                </div>
                <hr>
                </form>
                <div>
                  <div class="card card-body mb-3" id="<%=files.created_total[l]%>_forward">
                    <div id="<%=files.created_total[l]%>_date" style="display: none"> </div>
                    <div id="<%=files.created_total[l]%>_description"style="display: none"></div>
                    <div class="conte">
                      <div class=" text-right mb-2">
                        <div  class="btn btn-sm btn-primary" id = "<%=files.created_total[l]%>_forwar" value="<%=files.created_total[l]%>" onclick="forward(this.id)">Forward</div>
                        
                        <div  class="btn btn-sm btn-primary" id = "<%=files.created_total[l]%>_status" value="<%=files.created_total[l]%>" onclick="Status(this.id)">Get Status</div>
                      </div>
                      <div>
                      <a href="/image/<%=files.created_total[l] %>" target="_blank"><%=files.created_total[l] %></a>
                      </div>
                    </div>
                      <div class="table-responsive" id="<%=files.created_total[l]%>_table"style="display: none" >
                        
                         
                      </div>
                  </div>
                </div>
                <% }%>
                  
          <% } else{ %>
              <p>No Files to show</p>
          <% } %>
          </div>
          
          <!--Third Div-->
          <div class="card shadow" id="3">
            <div class="card-header border-0">
              <div class="row align-items-center " >
                  Responses 
              </div>
            </div>
            <% if(files.response_total.length!=0){ %>
              <%  var i=0 %>
              <% for(i=files.response_total.length-1;i>=0;i--){%>
                  <div class="card card-body mb-3">
                    <div id="<%=files.response_total[i] %>_l_date" style="display: none"> </div>
                    <div id="<%=files.response_total[i] %>_l_description"style="display: none"></div>
                    <div class="conte">
                      <div class="col text-center">
                        <div  class="btn btn-sm btn-primary mb-3"id = "<%=files.response_total[i]%>_l_detail" value="<%=files.response_total[i] %>" onclick="Detail(this.id)">Get Detail</div>
                        <div  class="btn btn-sm btn-primary mb-3"id = "<%=files.response_total[i]%>_l_approve" value="<%=files.response_total[i] %>" onclick="approve(this.id)">Approve</div>
                        <div  class="btn btn-sm btn-primary mb-3"id = "<%=files.response_total[i]%>_l_reject" value="<%=files.response_total[i] %>" onclick="reject(this.id)">Reject</div>
                      </div>
                      <div>
                      <a href="/image/<%=files.response_total[i] %>" target="_blank" ><%=files.response_total[i] %></a>
                      </div>
                    </div>
                      <div class="table-responsive" id="<%=files.response_total[i]%>_l_table"style="display: none" ></div>
                  </div>
                <% }%>
                  
          <% } else{ %>
              <p>No Files to show</p>
          <% } %>
          </div>
        </div>
     
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>
<script>




  function cancel(c) {
    date= document.getElementById(document.getElementById(c).getAttribute('value')+'_date'); 
    description=document.getElementById(document.getElementById(c).getAttribute('value')+'_description');
    table= document.getElementById(document.getElementById(c).getAttribute('value')+'_table');
    date.style.display = "none";
      table.style.display = "none";
      description.style.display = "none";
    filename= document.getElementById(document.getElementById(c).getAttribute('value')+'_forward');
    c=document.getElementById(document.getElementById(c).getAttribute('value')+'_cancel');
  
  if (c.style.display === "none") {
    c.style.display = "block";
    filename.style.display = "none";
  } else {
    filename.style.display = "block";
    c.style.display = "none";
  }
  
 
  
}
  
function forward(c) {
    filename= document.getElementById(document.getElementById(c).getAttribute('value')+'_forward');
    c=document.getElementById(document.getElementById(c).getAttribute('value')+'_cancel');  
    if (c.style.display === "none") {
    c.style.display = "block";
    filename.style.display = "none";
  } else {
    filename.style.display = "block";
    c.style.display = "none";
  }
}

var i=0;
  for(i=2;i<=3;i++){
    document.getElementById(i).style.display = "none";
  }
  function myFunction(k) {
    for(i=1;i<=3;i++){
      if(i!=k){
      document.getElementById(i).style.display = "none";
      }
      document.getElementById(k).style.display = "block";
  }
  }
  function send(id) { 
    document.getElementById("sent").style.display="none";
    document.getElementById("enter").style.display="none";
    console.log(document.getElementById('sent'));
    console.log(document.getElementById('enter'))


    filename= document.getElementById(id).getAttribute('value')

    value=(document.getElementById(filename+'_email'));
    value=value.value;

    if(value==""||value==undefined){
      document.getElementById('enter').style.display="block";
      document.getElementById('enter').innerHTML=`<div class="alert alert-danger alert-dismissible fade show"  role="alert">
            Email-must be entered
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>`;
      return ;
    }
    email=document.getElementById(filename+'_email');
 
    
      $.ajax({

              type:'post',
              url:'./ajax/send',
              data: {
                filename: filename,
                email:email.value
                
              },
              
              success:function(response){
                console.log("aa gayi")
                document.getElementById('sent').style.display="block";
                document.getElementById(filename+'_email').value="";
                document.getElementById('sent').innerHTML=` <div class="alert alert-success alert-dismissible fade show" role="alert">
            Application sent..
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>`
                
               
              }
      });
  }
  function approve(id){
   var filename= document.getElementById(id).getAttribute('value');
      $.ajax({
        type:'post',
        url:'./ajax/approve',
        data: {
          filename: filename
        },
        success:function(response){
          document.getElementById('approve').style.display="block";
          document.getElementById('approve').innerHTML=` <div class="alert alert-success alert-dismissible fade show"  role="alert">
            Application approved..
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>`
        }
      })
}

function reject(id){
   var filename= document.getElementById(id).getAttribute('value');
      $.ajax({
        type:'post',
        url:'./ajax/reject',
        data: {
          filename: filename
        },
        success:function(response){
          document.getElementById('reject').style.display="block";
          document.getElementById('reject').innerHTML=` <div class="alert alert-danger alert-dismissible fade show"  role="alert">
            Application Rejected..
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>`
        }
      })
  }


function Detail(id) {

date= document.getElementById(document.getElementById(id).getAttribute('value')+'_l_date'); 

description=document.getElementById(document.getElementById(id).getAttribute('value')+'_l_description');
table= document.getElementById(document.getElementById(id).getAttribute('value')+'_l_table');

if (table.style.display === "none" || description.style.display === "none"|| date.style.display === "none") {
  date.style.display = "block";
  table.style.display = "block";
  description.style.display = "block";
} else {
date.style.display = "none";
  table.style.display = "none";
  description.style.display = "none";
}

filename= document.getElementById(id).getAttribute('value');
  $.ajax({

          type:'POST',
          url:'./ajax',
          data: {
            filename: filename
          },
          
          success:function(response){
            id=filename+'_l_date';
            var table = document.getElementById(id);
            var tableHeader='';
            tableHeader+='Created On : '+response.Date_created;
            table.innerHTML=tableHeader;
            
            id=filename+'_l_description';
            var table = document.getElementById(id);
            var tableHeader='';
            tableHeader+='Descrption : '+response.descrption;
            table.innerHTML=tableHeader;

            id=filename+'_l_table';
            var table = document.getElementById(id);
            var tableHeader='';
            tableHeader+='<hr>'+
                    '<table class="table align-items-center table-flush " >'+
            '<thead class="thead-light">'+'<tr>'+'<th scope="col">'+'Send To:'+'</th>'+
              '<th scope="col">'+'</th>'+
                          '<th scope="col">'+'Status'+'</th>'+
                          '<th scope="col">'+'</th>'+
                        '</tr>'+
                      '</thead>'+
                      '<tbody >'
            var tableHtml='';
            if(response.Pending_from==undefined|| response.Pending_from==null){
              m=0;
            }
            else{
              m=response.Pending_from.length;
            }
            for(var i=0;i<(m);i++){


              tableHtml +='<tr>'+'<th scope="row">'+response.Pending_from[i]+'</th>'+
             '<td>'+' </td>'+'<td>'+'Pending...'+'</td>'+'<td>'+'<div class="d-flex align-items-center">'
              +'<div>'+'</div>'+'</div>'+' </td>'+'</tr>';
               
            }
            
            if(response.Rejected_from==undefined ||response.Rejected_from== null){
              m=0;
            }
            else{
              m=response.Rejected_from.length;
            }
            for(var i=0;i<(m);i++){
            tableHtml +='<tr>'+'<th scope="row">'+response.Rejected_from[i]+'</th>'+
            '<td>'+' </td>'+'<td>'+'Rejected.'+'</td>'+'<td>'+'<div class="d-flex align-items-center">'
              +'<div>'+'</div>'+'</div>'+' </td>'+'</tr>';
               ;
            }
            if(response.Approved_from==undefined|| response.Approved_from==null){
              m=0;
            }
            else{
              m=response.Approved_from.length;
            }
            for(var i=0;i<(m);i++){
            tableHtml +='<tr>'+'<th scope="row">'+response.Approved_from[i]+'</th>'+
            '<td>'+' </td>'+'<td>'+'Approved.'+'</td>'+'<td>'+'<div class="d-flex align-items-center">'
              +'<div>'+'</div>'+'</div>'+' </td>'+'</tr>';
             
            }

            table.innerHTML=tableHeader+tableHtml+'</tbody>'+'</table>';
          }
  });

          
        
}











 
  function Status(id) {

    date= document.getElementById(document.getElementById(id).getAttribute('value')+'_date'); 
    description=document.getElementById(document.getElementById(id).getAttribute('value')+'_description');
    table= document.getElementById(document.getElementById(id).getAttribute('value')+'_table');
    
    if (table.style.display === "none" || description.style.display === "none"|| date.style.display === "none") {
      date.style.display = "block";
      table.style.display = "block";
      description.style.display = "block";
  } else {
    date.style.display = "none";
      table.style.display = "none";
      description.style.display = "none";
  }
   
    filename= document.getElementById(id).getAttribute('value')
      $.ajax({

              type:'POST',
              url:'./ajax',
              data: {
                filename: filename
              },
              
              success:function(response){
                
                id=filename+'_date';
                var table = document.getElementById(id);
                var tableHeader='';
                tableHeader+='Created On : '+response.Date_created;
                table.innerHTML=tableHeader;
                
                id=filename+'_description';
                var table = document.getElementById(id);
                var tableHeader='';
                tableHeader+='Descrption : '+response.descrption;
                table.innerHTML=tableHeader;

                id=filename+'_table';
                var table = document.getElementById(id);
                var tableHeader='';
                tableHeader+='<hr>'+
                        '<table class="table align-items-center table-flush " >'+
                '<thead class="thead-light">'+'<tr>'+'<th scope="col">'+'Send To:'+'</th>'+
                  '<th scope="col">'+'</th>'+
                              '<th scope="col">'+'Status'+'</th>'+
                              '<th scope="col">'+'</th>'+
                            '</tr>'+
                          '</thead>'+
                          '<tbody >'
                var tableHtml='';
                if(response.Pending_from==undefined|| response.Pending_from==null){
                  m=0;
                }
                else{
                  m=response.Pending_from.length;
                }
                for(var i=0;i<(m);i++){


                  tableHtml +='<tr>'+'<th scope="row">'+response.Pending_from[i]+'</th>'+
                 '<td>'+' </td>'+'<td>'+'Pending...'+'</td>'+'<td>'+'<div class="d-flex align-items-center">'
                  +'<div>'+'</div>'+'</div>'+' </td>'+'</tr>';
                   
                }
                
                if(response.Rejected_from==undefined ||response.Rejected_from== null){
                  m=0;
                }
                else{
                  m=response.Rejected_from.length;
                }
                // tableHtml+=`<div><div>${response.Rejected_from[i]}</div>
                // <div></div></div>`
                for(var i=0;i<(m);i++){
                tableHtml +='<tr>'+'<th scope="row">'+response.Rejected_from[i]+'</th>'+
                '<td>'+' </td>'+'<td>'+'Rejected.'+'</td>'+'<td>'+'<div class="d-flex align-items-center">'
                  +'<div>'+'</div>'+'</div>'+' </td>'+'</tr>';
                   ;
                }
                if(response.Approved_from==undefined|| response.Approved_from==null){
                  m=0;
                }
                else{
                  m=response.Approved_from.length;
                }
                for(var i=0;i<(m);i++){
                tableHtml +='<tr>'+'<th scope="row">'+response.Approved_from[i]+'</th>'+
                '<td>'+' </td>'+'<td>'+'Approved.'+'</td>'+'<td>'+'<div class="d-flex align-items-center">'
                  +'<div>'+'</div>'+'</div>'+' </td>'+'</tr>';
                 
                }

                table.innerHTML=tableHeader+tableHtml+'</tbody>'+'</table>';
              }
      });

              
            
  }

</script>

